*{
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Gotham SSm",Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--font-family-monospace: Menlo,Monaco,Consolas,"Courier New",monospace;
}

a {
  color: #00B7FF;
}
