//colors
$navbarbackground: #FFFFFF;
$homebackground:  #F9F9F9;
$footerbackground: #1D4354;
$bannerbackground:#1A4156;

$lightgreen: #6FDA44;
$lightbrown: #494949;

$lightgrey: #E3E5E5;
$green: #359b00;

//heights
$navbarheight: 70px;
